input[type="text"],input[type="number"]{
	border: 2px solid black;
    padding: 2% 0% 2% 2%;
    width: 245px;
    height: 25px;
    font-size: 14px;
}

.card{
    margin-top: 3%;
    width: 30%;
    background: white;
    text-align: left;
    padding: 4% 3% 3% 3%;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 20px 16px rgba(0, 0, 0, 0.19);
}

.card table{
	border-spacing: 20px;
}

.generate-continue{
	display: flex;
    background: #e7f400;
    padding: 1%;
    color: black;
    padding-right: 5%;
    padding-left: 4%;
    border-radius: 30px;
}

#billComponents_length select {
    background-color: black;
    color: red;
}
