.card{
    width: 36%;
    background: white;
    text-align: left;
    padding: 3% 3% 3% 3%;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 20px 16px rgba(0, 0, 0, 0.19);
}

.submitbutton{
	text-align: center;
}

.did-floating-input{
      font-size: 15px;
    display: block;
    height: 35px;
    padding: 0 20px;
    color: #323840;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 7%;
  &:focus{
    outline:none;
    ~ .did-floating-label{
      top:-8px;
      font-size:13px;
    }
  }
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top:-8px;
  font-size:13px;
}

.did-floating-input::placeholder {
	font-size: 13px;
  color: black;
}

.nameinput{
	display: flex;
}

.card table{
	border-spacing: 25px;
    font-size: 20px;
}

select {
        outline: 0;
    color: black;
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
    font-size: 17px;
    margin-left: 7%;
      }

button{
	background: green;
    color: white;
    padding: 1.5%;
    width: 30%;
    border-radius: 70px;
    font-size: 20px;
}