.card{
	margin-top: 2%;
	width: 35%;
	background: white;
	text-align: left;
	padding: 3% 0% 3% 3%;
	border-radius: 2em;
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 0px 20px 16px rgba(0, 0, 0, 0.19);
}

.submitbutton{
	text-align: center;
}

.did-floating-input{
      font-size: 15px;
    display: block;
    width: 40%;
    height: 35px;
    padding: 0 20px;
    color: #323840;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 7%;
  &:focus{
    outline:none;
    ~ .did-floating-label{
      top:-8px;
      font-size:13px;
    }
  }
}

.did-floating-input:not(:placeholder-shown) ~ .did-floating-label {
  top:-8px;
  font-size:13px;
}

.did-floating-input::placeholder {
	font-size: 13px;
  color: black;
}

.nameinput{
	display: flex;
}

.selectinput1{
	display: flex;
}

.selectinput1 .select-selected1 {
    margin-left: 40%;
    width: 100%;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 6px;
}

.selectinput2{
	display: flex;
}

.selectinput2 .select-selected1 {
    margin-left: 25%;
    background: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 6px;
}

.imageupload{
	display: flex;
}


.custom-select {
  position: relative;
  font-family: Arial;
  width:200px;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
    border: 1px solid black;
    border-radius: 4px;
}

.select-selected1{
	margin-left: 5%;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px 6px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  background: black;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
	background: white;
	    border: 1px solid black;
  color: black;
  padding: 6px 6px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background: white;
  border: 1px solid black;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  color: black;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #b0afaf;
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}

.buttons{
	display: flex;
}

.generate-continue{
	display: flex;
    margin-left: 30%;
    font-size: 15px;
    width: 25%;
    border-radius: 30px;
    color: white;
    background: green;
}

.generate-add{
	display: flex;
    margin-left: 30%;
    font-size: 18px;
    width: 25%;
    border-radius: 30px;
    color: white;
    background: red;
}

.generate-add a{
	display: flex;
    font-size: 16px;
    width: 25%;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    background: red;
}
