.details{
    margin-left: 0.27%;
    margin-right: 0.27%;
    background: black;
    color: white;
    padding: 2%;
    border-radius: 30px;
}

.details table{
  background-color: black;
  padding-top: 1%;
  border-radius: 15px;
  padding-bottom: 1%;
  text-align: center;
  color:white;
  padding-top: 2%;
  border-color: #ffffff00;
}

table thead{
	text-align-last: center;
	text-transform: uppercase;
  	border-color: white;
}

table td a{
	text-decoration: none;
	color: white;
}

table tbody{
	border-color: white;
}

.in-details{
	margin-left: 40%;
}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #000000 !important;
    border: 1px solid transparent;
    background: white;
    box-shadow: none;
    border-radius: 20px;
}

.dataTables_wrapper .dataTables_length select {
    background-color: black;
}









.displaytable {
	text-align: center;
	border: 1px solid black;
}

.displaytable {
  border-collapse: collapse;
}

.displaytable th, .displaytable td {
  border: 1px solid black;
  padding: 8px;
}

.displaytable th {
  background-color: #f2f2f2;
}

.displaytable td:last-child, .displaytable th:last-child {
  width: 15%;
}

.displaytable tr:last-child {
  border-bottom: none;
}
.alltables{
	display: flex;
}



.buttons-dis a{
	text-decoration: none;
	color: white;
}

.opt-buttons1{
    background: #f54848;
    padding-right: 4%;
    height: 40px;
    padding-left: 4%;
    text-decoration: none;
    font-size: 15px;
    border-radius: 40px;
}

.opt-buttons2{
    background: green;
    padding-right: 4%;
    height: 40px;
    padding-left: 4%;
    text-decoration: none;
    font-size: 15px;
    border-radius: 40px;
}

.info{
	text-align: right;
    padding-right: 4%;
    border: 2px solid black;
    margin-left: 70%;
    color: black;
    margin-right: 5%;
    font-size: 20px;
}
